/**
 * @license
 * MyFonts Webfont Build ID 2770752, 2014-03-16T11:34:49-0400
 *
 * The fonts listed in this notice are subject to the End User License
 * Agreement(s) entered into by the website owner. All other parties are
 * explicitly restricted from using the Licensed Webfonts(s).
 *
 * You may obtain a valid license at the URLs below.
 *
 * Webfont: Plantin Std Bold by Monotype
 * URL: http://www.myfonts.com/fonts/mti/plantin/std-bold/
 *
 * Webfont: Plantin Std Italic by Monotype
 * URL: http://www.myfonts.com/fonts/mti/plantin/std-italic/
 *
 * Webfont: Plantin Std Roman by Monotype
 * URL: http://www.myfonts.com/fonts/mti/plantin/std-roman/
 *
 *
 * License: http://www.myfonts.com/viewlicense?type=web&buildid=2770752
 * Licensed pageviews: 250,000
 * Webfonts copyright: Font software Copyright 1990, 1995, 2002 Adobe Systems Incorporated. All rights reserved. Typeface designs Copyright The Monotype Corporation. All rights reserved.
 *
 * © 2014 MyFonts Inc
*/


/* @import must be at top of file, otherwise CSS will not work */
@import url("//hello.myfonts.net/count/2a4740");



@font-face {font-family: 'PlantinMTStd';src: url('fonts/2A4740_2_0.eot');src: url('fonts/2A4740_2_0.eot?#iefix') format('embedded-opentype'),url('fonts/2A4740_2_0.woff') format('woff'),url('fonts/2A4740_2_0.ttf') format('truetype'); font-style: normal; font-weight: 400; }

@font-face {font-family: 'PlantinMTStd';src: url('fonts/2A4740_0_0.eot');src: url('fonts/2A4740_0_0.eot?#iefix') format('embedded-opentype'),url('fonts/2A4740_0_0.woff') format('woff'),url('fonts/2A4740_0_0.ttf') format('truetype'); font-style: normal; font-weight: 700; }


@font-face {font-family: 'PlantinMTStd';src: url('fonts/2A4740_1_0.eot');src: url('fonts/2A4740_1_0.eot?#iefix') format('embedded-opentype'),url('fonts/2A4740_1_0.woff') format('woff'),url('fonts/2A4740_1_0.ttf') format('truetype'); font-style: italic; font-weight: 400; }

