html {
    overflow-y: scroll;
}

@charset "UTF-8";
/* CSS Document */


/*-----------------------------
RESET STYLES
-----------------------------*/

html, body, form, fieldset, p, div, h1, h2, h3, h4, h5, h6{
	-webkit-text-size-adjust:none; /* This stops the iPhone from automatically changing the size of the text when you flip the phone */
}

form {
	font-family:Arial, Helvetica, sans-serif; font-size:14px; line-height: 22px;
}

input{
	font-family:Arial, Helvetica, sans-serif; font-size:14px; line-height: 22px; padding:5px;
}

textarea{
	font-family:Arial, Helvetica, sans-serif; font-size:14px; line-height: 22px; padding:15px;
}

.slideshow { height: 300px; width: 1000px; margin: 0px; text-align:left; z-index:0}
a:link {text-decoration:none; color:#000}
a:hover {text-decoration:none; color:#000}
a:visited {text-decoration:none; color:#000}


body {
	background-attachment:fixed;
	background-size:100%; 
	margin:0px;
	background-color:#333;
}

#otsikko {
	padding: 0px 0px 0px 0px;
	text-align:center; 
	width: 1000px; 
	position:relative;
	color: #fff; 
    text-shadow: 0.0em 0.0em 0.55em #34464d; 
    font-family: Arial, Helvetica, sans-serif; 
    font-weight:bold; 
    font-size:130px; 
    line-height: 120px;
}

#container {
	width:1000px;
	margin-right:auto;
	margin-left:auto;
	margin-top:0px;
	}

#pohja {
	position:absolute; 
	width: 920px; 
	margin-top: 0px; 
	margin-bottom: 40px; 
	margin-left: auto; 
	margin-right: auto; 
	padding: 40px; 
	border: 0px; 
	background:#FFF; 
	z-index:4; 
	top:0px;
	position:relative;
	float:left;
}

#pohja_tyhja {
	position:absolute; 
	width: 1000px; 
	margin-top: 0px; 
	margin-bottom: 40px; 
	margin-left: auto; 
	margin-right: auto; 
	padding: 0px; 
	border: 0px; 
	z-index:4; 
	top:0px;
	position:relative;
	float:left;
}

#kehys {
	position:absolute; 
	width: 1000px; 
	margin-top: 240px; 
	margin-bottom: 100px; 
	margin-left: auto; 
	margin-right: auto; 
	padding: 0px; 
	border: 0px; 
	z-index:4; 
	top:0px;
}

#thumb {
	width: 280px;
	height: 250px;
	margin-right:40px;
	margin-left:0px;
	margin-top:0px;
	margin-bottom:40px;
	position:relative;
	float:left;
	color:#000;
	padding:0px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	font-weight:bold;
	text-align:left;
}

#linkit{
	position:absolute; 
	width: 1000px; 
	margin-top: 92px; 
	margin-bottom: 0px; 
	margin-left: auto; 
	margin-right: auto; 
	padding: 0px; 
	border: 0px; 
	z-index:4; 
	height: 28px; 
	top:-0px;
}

#valikko {
	width: 185px;
	margin:0px 0px 38px 38px;
	position:relative;
	float:right;
	background-color:#000;
	color:#FFF;
	padding:18px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	font-weight:bold;
	text-align:center;
	}
	
#valikko a:link {text-decoration:none; color:#FFF}
#valikko a:hover {text-decoration:none; color:#FFF}
#valikko a:visited {text-decoration:none; color:#FFF}
	.fancybox-custom .fancybox-skin {
		box-shadow: 0 0 50px #222;
	}

.kuvateksti {
	margin-top:6px; font-size:10px; font-weight:normal; line-height: 15px;
}

#palaute {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size:16px;
	line-height:20px;
	margin: 50px 0px 15px 0px;
}
#radio {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size:16px;
	line-height:22px;
	letter-spacing: 5px;
	margin: -5px 0px 15px 0px;
}

