/*
blankslate WordPress Theme © 2011-2014 TidyThemes
blankslate is distributed under the terms of the GNU GPL
*/

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{font-size:100%;font:inherit;padding:0;border:0;margin:0;vertical-align:baseline}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}table{border-collapse:collapse;border-spacing:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}.clear{clear:both}
.sticky{}.bypostauthor{}.wp-caption{}.wp-caption-text{}.gallery-caption{}.alignright{}.alignleft{}.aligncenter{}

/* SKELETON: base.css */

/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/


/* Table of Content
==================================================
	#Reset & Basics
	#Basic Styles
	#Site Styles
	#Typography
	#Links
	#Lists
	#Images
	#Buttons
	#Forms
	#Misc */


/* #Reset & Basics (Inspired by E. Meyers)
================================================== */
	html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline; }
	article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
		display: block; }
	body {
		line-height: 1; }
	ol, ul {
		list-style: none; }
	blockquote, q {
		quotes: none; }
	blockquote:before, blockquote:after,
	q:before, q:after {
		content: '';
		content: none; }
	table {
		border-collapse: collapse;
		border-spacing: 0; }


/* #Basic Styles
================================================== */
	body {
		background: #fff;
		font: 14px/21px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
		color: #444;
		-webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
		-webkit-text-size-adjust: 100%;
 }


/* #Typography
================================================== */
	h1, h2, h3, h4, h5, h6 {
		color: #181818;
		font-family: "Georgia", "Times New Roman", serif;
		font-weight: normal; }
	h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { font-weight: inherit; }
	h1 { font-size: 46px; line-height: 50px; margin-bottom: 14px;}
	h2 { font-size: 35px; line-height: 40px; margin-bottom: 10px; }
	h3 { font-size: 28px; line-height: 34px; margin-bottom: 8px; }
	h4 { font-size: 21px; line-height: 30px; margin-bottom: 4px; }
	h5 { font-size: 17px; line-height: 24px; }
	h6 { font-size: 14px; line-height: 21px; }
	.subheader { color: #777; }

	p { margin: 0 0 20px 0; }
	p img { margin: 0; }
	p.lead { font-size: 21px; line-height: 27px; color: #777;  }

	em, i { font-style: italic; }
	strong, b { font-weight: bold; }
	small { font-size: 80%; }

/*	Blockquotes  */
	blockquote, blockquote p { font-size: 17px; line-height: 24px; color: #777; font-style: italic; }
	blockquote { margin: 0 0 20px; padding: 9px 20px 0 19px; border-left: 1px solid #ddd; }
	blockquote cite { display: block; font-size: 12px; color: #555; }
	blockquote cite:before { content: "\2014 \0020"; }
	blockquote cite a, blockquote cite a:visited, blockquote cite a:visited { color: #555; }

	hr { border: solid #ddd; border-width: 1px 0 0; clear: both; margin: 10px 0 30px; height: 0; }


/* #Links
================================================== */
	a, a:visited { color: #333; text-decoration: underline; outline: 0; }
	a:hover, a:focus { color: #000; }
	p a, p a:visited { line-height: inherit; }


/* #Lists
================================================== */
	ul, ol { margin-bottom: 20px; }
	ul { list-style: none outside; }
	ol { list-style: decimal; }
	ol, ul.square, ul.circle, ul.disc { margin-left: 30px; }
	ul.square { list-style: square outside; }
	ul.circle { list-style: circle outside; }
	ul.disc { list-style: disc outside; }
	ul ul, ul ol,
	ol ol, ol ul { margin: 4px 0 5px 30px; font-size: 90%;  }
	ul ul li, ul ol li,
	ol ol li, ol ul li { margin-bottom: 6px; }
	li { line-height: 18px; margin-bottom: 12px; }
	ul.large li { line-height: 21px; }
	li p { line-height: 21px; }

/* #Images
================================================== */

	img.scale-with-grid {
		max-width: 100%;
		height: auto; }


/* #Buttons
================================================== */

	.button,
	button,
	input[type="submit"],
	input[type="reset"],
	input[type="button"] {
		background: #eee;
	  border: 1px solid #aaa;
	  border-top: 1px solid #ccc;
	  border-left: 1px solid #ccc;
	  -moz-border-radius: 3px;
	  -webkit-border-radius: 3px;
	  border-radius: 3px;
	  color: #444;
	  display: inline-block;
	  font-size: 11px;
	  font-weight: bold;
	  text-decoration: none;
	  text-shadow: 0 1px rgba(255, 255, 255, .75);
	  cursor: pointer;
	  margin-bottom: 20px;
	  line-height: normal;
	  padding: 8px 10px;
	  font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif; }

	.button:hover,
	button:hover,
	input[type="submit"]:hover,
	input[type="reset"]:hover,
	input[type="button"]:hover {
		color: #222;
		background: #ddd;
	  border: 1px solid #888;
	  border-top: 1px solid #aaa;
	  border-left: 1px solid #aaa; }

	.button:active,
	button:active,
	input[type="submit"]:active,
	input[type="reset"]:active,
	input[type="button"]:active {
		border: 1px solid #666;
		background: #ccc; }

	.button.full-width,
	button.full-width,
	input[type="submit"].full-width,
	input[type="reset"].full-width,
	input[type="button"].full-width {
		width: 100%;
		padding-left: 0 !important;
		padding-right: 0 !important;
		text-align: center; }

	/* Fix for odd Mozilla border & padding issues */
	button::-moz-focus-inner,
	input::-moz-focus-inner {
    border: 0;
    padding: 0;
	}


/* #Forms
================================================== */

	form {
		margin-bottom: 20px; }
	fieldset {
		margin-bottom: 20px; }
	input[type="text"],
	input[type="password"],
	input[type="email"],
	textarea,
	select {
		border: 1px solid #ccc;
		padding: 6px 4px;
		outline: none;
		-moz-border-radius: 2px;
		-webkit-border-radius: 2px;
		border-radius: 2px;
		font: 13px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
		color: #777;
		margin: 0;
		width: 210px;
		max-width: 100%;
		display: block;
		margin-bottom: 20px;
		background: #fff; }
	select {
		padding: 0; }
	input[type="text"]:focus,
	input[type="password"]:focus,
	input[type="email"]:focus,
	textarea:focus {
		border: 1px solid #aaa;
 		color: #444;
 		-moz-box-shadow: 0 0 3px rgba(0,0,0,.2);
		-webkit-box-shadow: 0 0 3px rgba(0,0,0,.2);
		box-shadow:  0 0 3px rgba(0,0,0,.2); }
	textarea {
		min-height: 60px; }
	label,
	legend {
		display: block;
		font-weight: bold;
		font-size: 13px;  }
	select {
		width: 220px; }
	input[type="checkbox"] {
		display: inline; }
	label span,
	legend span {
		font-weight: normal;
		font-size: 13px;
		color: #444; }

/* #Misc
================================================== */
	.remove-bottom { margin-bottom: 0 !important; }
	.half-bottom { margin-bottom: 10px !important; }
	.add-bottom { margin-bottom: 20px !important; }

*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.container {
	margin-right: auto;
	margin-left: auto;
	padding-left: 25px;
	padding-right: 25px;
}
@media (min-width: 768px) {
	.container.wide {
  		width: 100%;
  	}
  	.container.narrow {
	  	width: 76%;
	}
}
@media (min-width: 992px) {
	.container {
		
	}
}
@media (min-width: 1200px) {
	.container.wide {
	}
	.container.narrow {
	}
	#wrapperWrapper {
		width: 1430px;
		max-width: 95%;
	}
}
.container-fluid {
	margin-right: auto;
	margin-left: auto;
	padding-left: 25px;
	padding-right: 25px;
}
.container.news-list {
}
.row {
	margin-left: -25px;
	margin-right: -25px;
}
.news-list .row {
	margin-bottom: 70px;
}
@media (max-width: 767px) {
	.news-list .row {
		margin-bottom: 0;
	}
	.news-item {
		padding-bottom: 20px;
	}
}

/* !BOOTSTRAP GRID */
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 25px;
  padding-right: 25px;
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: left;
}
.col-xs-12 {
  width: 100%;
}
.col-xs-11 {
  width: 91.66666667%;
}
.col-xs-10 {
  width: 83.33333333%;
}
.col-xs-9 {
  width: 75%;
}
.col-xs-8 {
  width: 66.66666667%;
}
.col-xs-7 {
  width: 58.33333333%;
}
.col-xs-6 {
  width: 50%;
}
.col-xs-5 {
  width: 41.66666667%;
}
.col-xs-4 {
  width: 33.33333333%;
}
.col-xs-3 {
  width: 25%;
}
.col-xs-2 {
  width: 16.66666667%;
}
.col-xs-1 {
  width: 8.33333333%;
}
.col-xs-pull-12 {
  right: 100%;
}
.col-xs-pull-11 {
  right: 91.66666667%;
}
.col-xs-pull-10 {
  right: 83.33333333%;
}
.col-xs-pull-9 {
  right: 75%;
}
.col-xs-pull-8 {
  right: 66.66666667%;
}
.col-xs-pull-7 {
  right: 58.33333333%;
}
.col-xs-pull-6 {
  right: 50%;
}
.col-xs-pull-5 {
  right: 41.66666667%;
}
.col-xs-pull-4 {
  right: 33.33333333%;
}
.col-xs-pull-3 {
  right: 25%;
}
.col-xs-pull-2 {
  right: 16.66666667%;
}
.col-xs-pull-1 {
  right: 8.33333333%;
}
.col-xs-pull-0 {
  right: 0%;
}
.col-xs-push-12 {
  left: 100%;
}
.col-xs-push-11 {
  left: 91.66666667%;
}
.col-xs-push-10 {
  left: 83.33333333%;
}
.col-xs-push-9 {
  left: 75%;
}
.col-xs-push-8 {
  left: 66.66666667%;
}
.col-xs-push-7 {
  left: 58.33333333%;
}
.col-xs-push-6 {
  left: 50%;
}
.col-xs-push-5 {
  left: 41.66666667%;
}
.col-xs-push-4 {
  left: 33.33333333%;
}
.col-xs-push-3 {
  left: 25%;
}
.col-xs-push-2 {
  left: 16.66666667%;
}
.col-xs-push-1 {
  left: 8.33333333%;
}
.col-xs-push-0 {
  left: 0%;
}
.col-xs-offset-12 {
  margin-left: 100%;
}
.col-xs-offset-11 {
  margin-left: 91.66666667%;
}
.col-xs-offset-10 {
  margin-left: 83.33333333%;
}
.col-xs-offset-9 {
  margin-left: 75%;
}
.col-xs-offset-8 {
  margin-left: 66.66666667%;
}
.col-xs-offset-7 {
  margin-left: 58.33333333%;
}
.col-xs-offset-6 {
  margin-left: 50%;
}
.col-xs-offset-5 {
  margin-left: 41.66666667%;
}
.col-xs-offset-4 {
  margin-left: 33.33333333%;
}
.col-xs-offset-3 {
  margin-left: 25%;
}
.col-xs-offset-2 {
  margin-left: 16.66666667%;
}
.col-xs-offset-1 {
  margin-left: 8.33333333%;
}
.col-xs-offset-0 {
  margin-left: 0%;
}
@media (min-width: 768px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left;
  }
  .col-sm-12 {
    width: 100%;
  }
  .col-sm-11 {
    width: 91.66666667%;
  }
  .col-sm-10 {
    width: 83.33333333%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-8 {
    width: 66.66666667%;
  }
  .col-sm-7 {
    width: 58.33333333%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-5 {
    width: 41.66666667%;
  }
  .col-sm-4 {
    width: 33.33333333%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-2 {
    width: 16.66666667%;
  }
  .col-sm-1 {
    width: 8.33333333%;
  }
  .col-sm-pull-12 {
    right: 100%;
  }
  .col-sm-pull-11 {
    right: 91.66666667%;
  }
  .col-sm-pull-10 {
    right: 83.33333333%;
  }
  .col-sm-pull-9 {
    right: 75%;
  }
  .col-sm-pull-8 {
    right: 66.66666667%;
  }
  .col-sm-pull-7 {
    right: 58.33333333%;
  }
  .col-sm-pull-6 {
    right: 50%;
  }
  .col-sm-pull-5 {
    right: 41.66666667%;
  }
  .col-sm-pull-4 {
    right: 33.33333333%;
  }
  .col-sm-pull-3 {
    right: 25%;
  }
  .col-sm-pull-2 {
    right: 16.66666667%;
  }
  .col-sm-pull-1 {
    right: 8.33333333%;
  }
  .col-sm-pull-0 {
    right: 0%;
  }
  .col-sm-push-12 {
    left: 100%;
  }
  .col-sm-push-11 {
    left: 91.66666667%;
  }
  .col-sm-push-10 {
    left: 83.33333333%;
  }
  .col-sm-push-9 {
    left: 75%;
  }
  .col-sm-push-8 {
    left: 66.66666667%;
  }
  .col-sm-push-7 {
    left: 58.33333333%;
  }
  .col-sm-push-6 {
    left: 50%;
  }
  .col-sm-push-5 {
    left: 41.66666667%;
  }
  .col-sm-push-4 {
    left: 33.33333333%;
  }
  .col-sm-push-3 {
    left: 25%;
  }
  .col-sm-push-2 {
    left: 16.66666667%;
  }
  .col-sm-push-1 {
    left: 8.33333333%;
  }
  .col-sm-push-0 {
    left: 0%;
  }
  .col-sm-offset-12 {
    margin-left: 100%;
  }
  .col-sm-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-sm-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-sm-offset-9 {
    margin-left: 75%;
  }
  .col-sm-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-sm-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-sm-offset-6 {
    margin-left: 50%;
  }
  .col-sm-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-sm-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-sm-offset-3 {
    margin-left: 25%;
  }
  .col-sm-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-sm-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-sm-offset-0 {
    margin-left: 0%;
  }
}
@media (min-width: 992px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
  }
  .col-md-12 {
    width: 100%;
  }
  .col-md-11 {
    width: 91.66666667%;
  }
  .col-md-10 {
    width: 83.33333333%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-8 {
    width: 66.66666667%;
  }
  .col-md-7 {
    width: 58.33333333%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-5 {
    width: 41.66666667%;
  }
  .col-md-4 {
    width: 33.33333333%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-2 {
    width: 16.66666667%;
  }
  .col-md-1 {
    width: 8.33333333%;
  }
  .col-md-pull-12 {
    right: 100%;
  }
  .col-md-pull-11 {
    right: 91.66666667%;
  }
  .col-md-pull-10 {
    right: 83.33333333%;
  }
  .col-md-pull-9 {
    right: 75%;
  }
  .col-md-pull-8 {
    right: 66.66666667%;
  }
  .col-md-pull-7 {
    right: 58.33333333%;
  }
  .col-md-pull-6 {
    right: 50%;
  }
  .col-md-pull-5 {
    right: 41.66666667%;
  }
  .col-md-pull-4 {
    right: 33.33333333%;
  }
  .col-md-pull-3 {
    right: 25%;
  }
  .col-md-pull-2 {
    right: 16.66666667%;
  }
  .col-md-pull-1 {
    right: 8.33333333%;
  }
  .col-md-pull-0 {
    right: 0%;
  }
  .col-md-push-12 {
    left: 100%;
  }
  .col-md-push-11 {
    left: 91.66666667%;
  }
  .col-md-push-10 {
    left: 83.33333333%;
  }
  .col-md-push-9 {
    left: 75%;
  }
  .col-md-push-8 {
    left: 66.66666667%;
  }
  .col-md-push-7 {
    left: 58.33333333%;
  }
  .col-md-push-6 {
    left: 50%;
  }
  .col-md-push-5 {
    left: 41.66666667%;
  }
  .col-md-push-4 {
    left: 33.33333333%;
  }
  .col-md-push-3 {
    left: 25%;
  }
  .col-md-push-2 {
    left: 16.66666667%;
  }
  .col-md-push-1 {
    left: 8.33333333%;
  }
  .col-md-push-0 {
    left: 0%;
  }
  .col-md-offset-12 {
    margin-left: 100%;
  }
  .col-md-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-md-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-md-offset-9 {
    margin-left: 75%;
  }
  .col-md-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-md-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-md-offset-6 {
    margin-left: 50%;
  }
  .col-md-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-md-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-md-offset-3 {
    margin-left: 25%;
  }
  .col-md-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-md-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-md-offset-0 {
    margin-left: 0%;
  }
}
@media (min-width: 1200px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left;
  }
  .col-lg-12 {
    width: 100%;
  }
  .col-lg-11 {
    width: 91.66666667%;
  }
  .col-lg-10 {
    width: 83.33333333%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-8 {
    width: 66.66666667%;
  }
  .col-lg-7 {
    width: 58.33333333%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-5 {
    width: 41.66666667%;
  }
  .col-lg-4 {
    width: 33.33333333%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-2 {
    width: 16.66666667%;
  }
  .col-lg-1 {
    width: 8.33333333%;
  }
  .col-lg-pull-12 {
    right: 100%;
  }
  .col-lg-pull-11 {
    right: 91.66666667%;
  }
  .col-lg-pull-10 {
    right: 83.33333333%;
  }
  .col-lg-pull-9 {
    right: 75%;
  }
  .col-lg-pull-8 {
    right: 66.66666667%;
  }
  .col-lg-pull-7 {
    right: 58.33333333%;
  }
  .col-lg-pull-6 {
    right: 50%;
  }
  .col-lg-pull-5 {
    right: 41.66666667%;
  }
  .col-lg-pull-4 {
    right: 33.33333333%;
  }
  .col-lg-pull-3 {
    right: 25%;
  }
  .col-lg-pull-2 {
    right: 16.66666667%;
  }
  .col-lg-pull-1 {
    right: 8.33333333%;
  }
  .col-lg-pull-0 {
    right: 0%;
  }
  .col-lg-push-12 {
    left: 100%;
  }
  .col-lg-push-11 {
    left: 91.66666667%;
  }
  .col-lg-push-10 {
    left: 83.33333333%;
  }
  .col-lg-push-9 {
    left: 75%;
  }
  .col-lg-push-8 {
    left: 66.66666667%;
  }
  .col-lg-push-7 {
    left: 58.33333333%;
  }
  .col-lg-push-6 {
    left: 50%;
  }
  .col-lg-push-5 {
    left: 41.66666667%;
  }
  .col-lg-push-4 {
    left: 33.33333333%;
  }
  .col-lg-push-3 {
    left: 25%;
  }
  .col-lg-push-2 {
    left: 16.66666667%;
  }
  .col-lg-push-1 {
    left: 8.33333333%;
  }
  .col-lg-push-0 {
    left: 0%;
  }
  .col-lg-offset-12 {
    margin-left: 100%;
  }
  .col-lg-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-lg-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-lg-offset-9 {
    margin-left: 75%;
  }
  .col-lg-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-lg-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-lg-offset-6 {
    margin-left: 50%;
  }
  .col-lg-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-lg-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-lg-offset-3 {
    margin-left: 25%;
  }
  .col-lg-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-lg-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-lg-offset-0 {
    margin-left: 0%;
  }
}
.clearfix:before,.clearfix:after,.container:before,.container:after,.container-fluid:before,.container-fluid:after,.row:before,.row:after,.form-horizontal .form-group:before,.form-horizontal .form-group:after,.btn-toolbar:before,.btn-toolbar:after,.btn-group-vertical>.btn-group:before,.btn-group-vertical>.btn-group:after,.nav:before,.nav:after,.navbar:before,.navbar:after,.navbar-header:before,.navbar-header:after,.navbar-collapse:before,.navbar-collapse:after,.pager:before,.pager:after,.panel-body:before,.panel-body:after,.modal-footer:before,.modal-footer:after{content:" ";display:table}.clearfix:after,.container:after,.container-fluid:after,.row:after,.form-horizontal .form-group:after,.btn-toolbar:after,.btn-group-vertical>.btn-group:after,.nav:after,.navbar:after,.navbar-header:after,.navbar-collapse:after,.pager:after,.panel-body:after,.modal-footer:after{clear:both}


/* #Site Styles
================================================== */

body {
	background: #fff;
	color: #000;
	font-family: PlantinMTStd, 'Times New Roman', Georgia, serif;
	font-size: 15px;
	line-height: 1.3;
}
#wrapperWrapper{
	margin: 0 auto 0 auto;
}
#wrapper {
	padding-bottom: 60px;
}
a {
	text-decoration: none;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	transition: all 0.2s ease;
}
img,
image,
svg {
	height: auto;
	max-width: 100%;
}
input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"],
input[type="button"],
input[type="submit"],
textarea,
select {
	font-family: inherit;
	font-size: inherit;
}
#header {
	padding-top: 40px;
	padding-bottom: 60px;
}
@media (max-width: 767px) {
	#header {
		padding-top: 20px;
		padding-bottom: 20px;
	}
}
#site-logo {
	margin-left: auto;
	margin-right: auto;
	max-width: 90%;
	text-align: center;
}

#menu {
	margin: 25px 15px 0 0;
	padding: 0 25px;
}
#menu li {
	display: inline;
	margin-right: 5px;
	margin-bottom: 5px;
}
#menu a {
	color: #000;
	display: inline-block;
	padding: 4px 4px;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

@media (min-width: 768px) {
	/*#menu {
		margin: 50px 0 0 10px;
		position: fixed;
		z-index: 999;
	}
	#menu li {
		display: block;
		margin: 0;
	}
	#menu a {
		display: block;
		font-size: 0.9em;
		line-height: 1;
		margin: 0;
		padding: 8px 4px;
	}*/
	#wrapper.circled {
		background: #fff url('images/circle-blue.png') bottom left no-repeat;
		background-size: 45% auto;
	}
	.blue #wrapper.circled {
		background-image: url('images/circle-blue.png');
	}
	.green #wrapper.circled {
		background-image: url('images/circle-green.png');
	}
	.orange #wrapper.circled {
		background-image: url('images/circle-orange.png');
	}
}

@media (min-width: 1200px) {
	/*#menu {
		margin: 50px 0 0 20px;
	}
	#menu li {
		display: inline;
		margin: 0 3px 0 0;
	}
	#menu a {
		display: inline-block;
		font-size: 1em;
		font-weight: 700;
		padding: 10px 4px;
		text-decoration: none;
	}
	#menu ul {
		margin-bottom: 0;
	}*/
}

#menu ul ul {
	display: none; /* Näytetään vain päätason sivut */
}
#content {
	margin-top: 40px;
}
.content-top-image {
	margin-bottom: 60px;
}
.content-top-image img {
	display: block;
}
.content-top-share {
	margin-top: 75px;
}
h1, h2, h3,
.h1, .h2, .h3 {
	font-family: 'Uusikaupunki-Bold', 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: 700;
	line-height: 1.15;
}
h1, .h1 {
	font-size: 1.4em;
	text-align: center;
}
a {
	color: #000;
	font-weight: 700;
}
a:hover,
.blue a:hover,
.orange a:hover,
.green a:hover {
	color: #000;
}
.blue a.read-more,
.orange a.read-more,
.green a.read-more,
.blue .content-top-share a,
.orange .content-top-share a,
.green .content-top-share a,
.blue .news-archive-link,
.orange .news-archive-link,
.green .news-archive-link {
	color: #000;
}
.pre-heading,
.slogan {
	color: #000 !important;
	font-family: 'Uusikaupunki-Bold', 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 1.8em;
	line-height: 1;
	margin-bottom: 1.5em;
	text-align: center;
	text-transform: uppercase;
}
.pre-heading {
	font-size: 2.1em;
}
.slogan {
	margin-top: 90px;
}
.slider-text {
	display: table;
	height: 100%;
	width: 100%;
}
.slider-text-link {
	display: table-cell;
	font-family: 'Uusikaupunki-Bold', 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 2.2em;
	line-height: 1;
	padding: 0 20px;
	text-align: center;
	text-transform: uppercase;
	vertical-align: middle;
}
@media (max-width: 560px) {
	.slider-text-link {
		font-size: 1.3em;
	}
}
.slider-list a {
	color: #000 !important;
}
h3, .h3 {
	font-size: 1.2em;
}
.mini-heading {
	margin-top: 3em;
}
.mini-heading p span,
p.mini-heading span,
.underline {
	border-bottom: 1px solid #000;
}
footer .mini-heading {
	margin-top: 90px;
}
@media (max-width: 767px) {
	footer .mini-heading {
		margin-top: 20px;
	}
}
.third,
.half {
	margin-top: 1em;
}
.third .h3,
.third h3,
.half .h3,
.half h3 {
	/*margin-bottom: 30px;*/
	height: 3.4em;
	margin-top: 15px;
	text-align: center;
}
@media (max-width: 767px) {
	.third .h3,
	.third h3,
	.half .h3,
	.half h3 {
		height: auto;
		margin-top: 30px;
		margin-bottom: 20px;
	}
}
#workshops-list .half-img-container img {
	opacity: 0.2;
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	transition: all 0.2s linear;
}
#workshops-list .half-img-container img:hover {
	opacity: 1.0;
}
#workshops-list .half-img-container {
	position: relative;
}
#workshops-list .half-img-container:hover h2 {
	display: none;
		-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	transition: all 0.2s linear;
}
#workshops-list ul {
	
}
#workshops-list li {
	
}

#workshops-list h2 {
	color: #000;
	font-size: 2.1em;
	line-height: 1.05;
	padding: 0 30px;
	position: absolute;
	top: 46%;
	z-index: 1;
	text-align: center;
	text-transform: uppercase;
	width: 100%;
		-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	transition: all 0.2s linear;
}
#workshops-list .workshop-image-link {
	
}
#workshops-list .workshop-text-link {
	display: block;
}
@media (min-width: 768px) and (max-width: 959px) {
	#workshops-list h2 {
		font-size: 1.6em;
	}
}
@media (max-width: 767px) {
	#workshops-list h2 {
		font-size: 1.5em;
		top: 30%;
	}
}
#workshops-list h2 a {
	color: #000;
}
.third img,
.half img {
	display: block;
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	transition: all 0.2s linear;
	width: 100%;
	height: auto;
}
.third a img:hover,
.half a img:hover {
	opacity: 0.2;
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	transition: all 0.2s linear;
}
.third a,
.half a {
	color: inherit;
	font-weight: bold;
}
.third-content,
.half-content {
	margin-top: 20px;
}
.news-item .third-img-container {
	margin-bottom: 25px;
	position: relative;
}
img.news-plus {
	cursor: pointer;
	position: absolute;
	top: 12px;
	right: 16px;
	width: auto;
	z-index: 1;
}
.third:hover .news-plus {
	opacity: 1.0;
}
.news-image-link {
	display: block;
}
.news-item h3 {
	margin-bottom: 25px;
}


@media (max-width: 767px) {
	.third.news-item {
		max-width: 100%;
	}
}

section.entry-content {
	padding-bottom: 40px;
}

/* ! FOOTER */

.footer-3 {
	text-align: right;
}
.footer-5 input {
	background: none;
	border: 0;
	border-bottom: 1px solid #000;
	border-radius: 0;
	display: inline;
	margin-left: 2px;
	padding: 0 0 0 0;
	-webkit-appearance: none;
}
.footer-5 input:focus {
	border: none;
	border-bottom: 1px solid #000;
	box-shadow: none;
}

#footer a {
	color: #000;
}
.footer-1,
.footer-2,
.footer-3 {
	float: left;
}
.footer-4,
.footer-5,
.footer-6 {
	margin-left: 45px;
	float: right;
}
.footer-1 {
	margin-right: 45px;
}
.footer-2 {
	margin-right: 45px;
}

@media (max-width: 767px) {
	#yhteystiedot > div {
		float: none;
		margin: 0 0 10px 0;
		text-align: left;
	}
	.footer-4 {
		clear: both;
		float: none;
	}
}

.back-to-top {
	margin-top: 50px;
}

/* Uutiskirjeboksista ylimääräiset pois */
input.wp-email-capture-name,
label.wp-email-capture-name,
label.wp-email-capture-label,
.footer-5 form br {
	display: none;
}
input.wp-email-capture-submit {
	height: 0;
	width: 0;
}

.bx-clone {
	display: none;
}

.news-archive .h3 {
	height: auto;
}

.fancybox-title-outside-wrap {
	margin-bottom: 20px;
}
@media (max-width: 767px) {
	.fancybox-next,
	.fancybox-prev {
		width: 10% !important;
	}
}

/* UK-värit
============*/

.blue a,
.blue #menu a:hover,
.blue a.read-more:hover,
.blue .content-top-share a:hover,
.blue #footer a:hover,
.blue .news-archive-link:hover,
.blue h1, .blue .h1,
.blue h2, .blue .h2,
.blue h3, .blue .h3,
.blue h4, .blue .h4,
.blue #menu .current_page_item a,
.blue #menu .current_page_parent a,
.blue #menu .current-page-ancestor a {
	color: #00abff;
}
.blue .footer-5 input::-webkit-input-placeholder {
	color: #00abff;
}
.blue .footer-5 input::-moz-placeholder {
	color: #00abff;
}

.blue .third-img-container,
.blue .half-img-container,
.blue .content-top-image img,
.blue .slider-text-link,
.blue .news-item-content-container {
	background: #00abff;
}

.orange a,
.orange #menu a:hover,
.orange a.read-more:hover,
.orange .content-top-share a:hover,
.orange #footer a:hover,
.orange .news-archive-link:hover,
.orange h1, .orange .h1,
.orange h2, .orange .h2,
.orange h3, .orange .h3,
.orange h4, .orange .h4,
.orange #menu .current_page_item a,
.orange #menu .current_page_parent a,
.orange #menu .current-page-ancestor a {
	color: #ff7700;
}
.orange .footer-5 input::-webkit-input-placeholder {
	color: #ff7700;
}
.orange .footer-5 input::-moz-placeholder {
	color: #ff7700;
}
.orange .third-img-container,
.orange .half-img-container,
.orange .content-top-image img,
.orange .slider-text-link,
.orange .news-item-content-container {
	background: #ff7700;
}

.green a,
.green #menu a:hover,
.green a.read-more:hover,
.green .content-top-share a:hover,
.green #footer a:hover,
.green .news-archive-link:hover,
.green h1, .green .h1,
.green h2, .green .h2,
.green h3, .green .h3,
.green h4, .green .h4,
.green #menu .current_page_item a,
.green #menu .current_page_parent a,
.green #menu .current-page-ancestor a {
	color: #00b877;
}
.green .footer-5 input::-webkit-input-placeholder {
	color: #00b877;
}
.green .footer-5 input::-moz-placeholder {
	color: #00b877;
}
.green .third-img-container,
.green .half-img-container,
.green .content-top-image img,
.green .slider-text-link,
.green .news-item-content-container {
	background: #00b877;
}


/* #Page Styles
================================================== */
.content-additional {
	margin-top: 50px;
}
.content-additional-map {
	margin-bottom: 60px;
	/*text-align: center;*/
}

/* #Font-face
================================================== */

@font-face {
  font-family: 'Uusikaupunki-Bold';
  src: url('css/fonts/Uusikaupunki-Bold.eot'); /* IE9 Compat Modes */
  src: url('css/fonts/Uusikaupunki-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('css/fonts/Uusikaupunki-Bold.woff') format('woff'), /* Modern Browsers */
       url('css/fonts/Uusikaupunki-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('css/fonts/Uusikaupunki-Bold.svg#eb4ed5d407c0a21af719e8dc205ec27e') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  700;
}
